.map-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Assurer que la carte prend tout l'espace */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 20px;
}

